section.side-nav {
    display: block; 
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: #f1f1f1; 
}

section.message-room {
    position: relative;
    left: 200px;
    margin-left: 20px;

}

div.new-room-modal {
    width: 25%;
    position: relative;
    margin-left: 33%;
    border: 5px;
    border-style: solid;
}

ul {
    list-style-type: none;
}